<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>组件手册-<%= htmlWebpackPlugin.options.title %></title>
    <link href="conf/favicon.ico" rel="shortcut icon"/>
    <base href=""/>
</head>
<body>
<div class="main-topbar">
    <div class="main-topbar-logo">
        <%= htmlWebpackPlugin.options.title %> - 组件库
    </div>
</div>
<div class="main-container">
    <div class="main-sidebar">
        <ul class="menu-root">
            <li><h1>组件库</h1></li>
            <ul>
                <li class="sidebar-item"><a href="#" class="sidebar-link">环境配置</a></li>
                <li class="sidebar-item"><a href="#" class="sidebar-link">开发流程</a></li>
            </ul>
        </ul>
    </div>
    <div class="main-content container" id="container">

    </div>
</div>
</body>
</html>