@import "../../theme/dev";

.main-topbar {
  height: 64px;
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.4);
  border-bottom: #e6e4e4 solid 1px;
}

.main-topbar-logo {
  margin-left: 60px;
  line-height: 64px;
  font-size: 1.5em;
  color: #2c3e50;
  font-family: 'Dosis', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 500;
}

.main-topbar-logo i {
  display: inline-block;
  margin-right: 10px;
  width: 35px;
  height: 49px;
  vertical-align: middle;
}

.main-container {
  height: 100%;
}

.main-sidebar {
  position: fixed;
  top: 64px;
  left: 0;
  bottom: 0;
  width: 200px;
  padding: 40px 0 30px 10px;
  overflow-x: hidden;
  overflow-y: auto;
}

.main-sidebar ul {
  list-style-type: none;
  margin: 0;
  line-height: 1.8em;
  padding-left: 1em;
}

.main-sidebar {
  .menu-sub {
    display: none;
    font-size: 14px;
  }
}

.main-sidebar .sidebar-item.current .menu-sub {
  display: block;
}

.main-sidebar .sidebar-item.current .sidebar-link {
  font-weight: 600;
  color: #1d7bdf;
  .menu-sub {
    display: block;
  }
}

.main-sidebar .sidebar-link {
  font-size: 14px;
  color: #7f8c8d;
  line-height: 30px;
}

.main-sidebar .sidebar-link:hover {
  border-bottom: 2px solid #1d7bdf;
}

.main-sidebar .section-link {
  line-height: 24px;
}

.main-sidebar .section-link.active {
  font-weight: bold;
  color: #1d7bdf;
}

.main-content {
  margin-left: 200px;
  padding: 100px 0 0 0;
}

//test 组件展示区
.show-area {
  margin-top: 20px;
  margin-left: 20px;
}

.show-area button {
  margin: 5px;
}

.show-cell {
  display: inline-block;
  width: 240px;
  padding: 10px;
}

.wider {
  width: 480px;
}

.show-cell i {
  margin-right: 10px;
}

.white-icon {
  color: $white;
  background-color: #85929F;
}
.show-dialog-wrapper{
  height: 100%;
  padding: 10px;
  .show-dialog-area{
    height: 100%;
    line-height: 100px;
    text-align: center;
    font-size: 20px;
    background-color: $white;
    border: $gray-lighter dashed 1px;
  }
}
